<ul class="beverages-list">
  <li class="beverage-preview">
    <input class="compare" type="checkbox">
    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg">
    <h1>Chryseia</h1>
    <h2>$55.90</h2>
    <button>Add to cart</button>
  </li>
  <li class="beverage-preview">
    <input class="compare" type="checkbox">
    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg">
    <h1>Meiomi Pinot Noir</h1>
    <h2>$19.90</h2>
    <button>Add to cart</button>
  </li>
  <li class="beverage-preview">
    <input class="compare" type="checkbox">
    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg">
    <h1>Antucura Cabernet Sauvignon</h1>
    <h2>$15.90</h2>
    <button>Add to cart</button>
  </li>
</ul>
