<ul class="beverages-list">
  {{#each this}}
  <li class="beverage-preview">
    <input class="compare" type="checkbox">
    <img src="{{image}}">
    <h1>{{name}}</h1>
    <h2>${{price}}</h2>
    <button>Add to cart</button>
  </li>
  {{/each}}
</ul>
